.md-content ul {
  margin-bottom: 32px;
  margin-left: 0;
  padding: 16px;
  font-size: 12px;
  background: #f2f2f2;
  border-radius: 4px;
}

.md-typeset__table {
  display: block;
}

.md-typeset__table table:not([class]) {
  display: table;
  width: 100%;
}
